[submodule "agrorob_interfaces"]
	path = agrorob_interfaces
	url = https://github.com/icos-pit/agrorob_interfaces.git
[submodule "agrorob_msgs"]
	path = agrorob_msgs
	url = https://github.com/icos-pit/agrorob_msgs.git
[submodule "xsens_driver"]
	path = xsens_driver
	url = https://github.com/icos-pit/xsens_driver
[submodule "agrorob_launch"]
	path = agrorob_launch
	url = https://github.com/icos-pit/agrorob_launch.git
[submodule "ros2_socketcan"]
	path = ros2_socketcan
	url = https://github.com/icos-pit/ros2_socketcan.git
[submodule "odom_from_navrelposned"]
	path = odom_from_navrelposned
	url = https://github.com/icos-pit/odom_from_navrelposned.git
